<!-- <app-search-form (searchResult)='searching($event)'></app-search-form> -->
<div class="container">
        <div class="card">
            <div class="card-img-top">
            <img src="{{ gotUser.avatar_url}}" alt="">
        </div>

        <div class="card-body">
            <h2>{{gotUser.name}}</h2>
            <span>{{ gotUser.login}}</span><a href="{{gotUser.html_url}}"><button class="btn-outline-success btn btn-sm"><i class="fa fa-github"></i>Github </button></a>
        </div>

        <div class="card-body">
            <h4>Git-Search: {{gotUser.login}}</h4>
                <hr>
                <p><i class="fa fa-file-o"></i>Repositories:<span class="follow">{{gotUser.public_repos}}</span></p>
                <hr>
                <p> <i class="fa fa-user"></i>Following:<span class="follow">{{gotUser.following}}</span></p>
                <hr>
                <p> <i class="fa fa-users"></i>Followers:<span class="follow">{{gotUser.followers}}</span></p>
                <hr>
                <p><i class="fa fa-clock-o"></i>Created on: <span class="datecreated">{{gotUser.created_at}}</span></p>
                <hr>
            </div>
        </div>
    </div>

